.footer{
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
    padding: 90px 0;
}

.footer > div{
    display: flex;
    gap: 35px;
}

.footer > p{
    font-size: 14px;
}

.footer > div > a > svg{
    font-size: 30px;
    color: black;
}
.footer > div > a > svg:hover{
    color: rgb(255, 100, 100)
}
