@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Heebo", sans-serif;
}

.wrapper{
  margin: 0 auto;
  width: 858px;
}

.wrapper_2{
  margin: 0 auto;
  width: 681px;
}


@media(max-width: 600px) {
  .wrapper{
    width: 345px;
  }

  .wrapper_2{
    margin: 0 auto;
    width: 345px;
  }
}